<div>
  <label class="label">{{ label }}</label>
  <input type="{{ type }}" name="{{ name }}" id="{{ name }}" placeholder="{{ placeholder }}" value="{{ value }}"
    class="{{ className }}">
  <p class="error input-error">{{ error }}</p>
</div>
