<div>
  <label class="label">{{ label }}</label>
  <input type="{{ type }}" name="{{ name }}" id="{{ name }}" placeholder="{{ placeholder }}" value="{{ value }}">
  <p class="input-error">{{ error }}</p>
</div>
