<div id="profile">
  <div class="back_block">
    <a href="./chats.hbs"><button class="back-button">
        <~ </button></a>
  </div>
  <div class="profile_block">
    <div class="profile-avatar">
      <div class="plug">
        <p class="avatar-text">
          Change avatar
        </p>
        <div class="circle"></div>
      </div>
    </div>

    <p class="profile-name">Maria</p>

    <div class="data">

      {{#each fields as | item |}}
      <div class="string">
        <p class="label">{{ item.label }}</p>
        <p class="profile_data">{{ item.data }}</p>
      </div>
      {{/each }}

      {{{ fields }}}

    </div>

    <div class="buttons">
      <div class="string">
        {{{ editButton }}}
      </div>
      <div class="string">
        {{{ changePassButton }}}
      </div>
      <div class="string">
        {{{ logoutButton }}}
      </div>
    </div>

  </div>
</div>
