---
title: 'Messenger'
screen-name: Authorization
fields: [
{ label: 'login', field_name: 'login', placeholder: 'Login', type: 'text', error_text: 'Invalid login' },
{ label: 'password', field_name: 'password', placeholder: 'Password', type: 'password', error_text: 'Invalid password'
},
]
link-text: 'Create a profile'
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="./authorization.js" type="module"></script>
  <title>{{ title }}</title>
</head>

<body>
  <main id="auth">
    <div class="login">

      <form class="fields">
        <h3 class="title">{{ screen-name }}</h3>

        {{#each fields as | item |}}
        <p class="label">{{ item.label }}</p>
        <input type="{{ item.type }}" name="{{ item.type }}" id="{{ item.type }}" placeholder="{{ item.placeholder }}">
        <p class="error">{{ item.error_text }}</p>
        {{/each }}

        <div class="buttons">{{>button name='Log in'}}</div>

      </form>
      <a href="/src/pages/registration.hbs" class="link">{{ link-text }}</a>

    </div>
  </main>

</body>

</html>
