<div class="string">
  <p class="label-profile">{{ label }}</p>
  <input type="{{ type }}" name="{{ name }}" id="{{ name }}" placeholder="{{ placeholder }}" value="{{ value }}"
    class="profile-input">
  <p class="input-error">{{ error }}</p>
  <p class="profile-data">{{ data }}</p>
</div>
